body {
  margin: 10px;
}

/* .product ~ p {
  color: rgb(219, 68, 9);
}

p.first {
  font-size: 140%;
  font-style: italic;
}

article :first-child {
  font-size: 140%;
  font-style: italic;
} 

a:visited,
a:link {
  color: dodgerblue;
}
a:hover,
a:focus {
  color: deeppink;
}

article p:first-of-type {
  font-size: 140%;
  font-style: italic;
}

article :last-child {
  font-weight: bold;
}

ul li:nth-child(odd) {
  color: deeppink;
}

ul li:nth-child(even) {
  color: rgb(17, 221, 17);
}

p::first-letter {
  font-size: 140%;
  font-weight: bold;
}

p::first-line {
  font-weight: bold;
}

p::selection {
  background-color: pink;
}
p::before {
  content: "...";
}

p::after {
  content: "...";
}

h1 {
  color: dodgerblue;
}

.highlight {b
  color: deeppink;
}

h1#product {
  color: rgb(10, 238, 48);
}

#product {
  color: rgb(153, 39, 5);
} 

p {
  color: dodgerblue;
  border: 1px solid black;
}

strong {
  color: initial;
  border: inherit;
}
*/

/* .box {
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, green, blue, tomato);
  background: radial-gradient(circle, red, green);
} */

/*
.box {
  width: 200px;
  height: 200px;
  background: dodgerblue;
  border: 10px dashed royalblue;
  border-width: 10px 20px 10px 20px; /*top,right,bottom left*/
/* border-radius: 100%;
} */

.box {
  width: 200px;
  height: 200px;
  background: dodgerblue;
  /* box-shadow: 10px 10px 30px gray; */
  box-shadow: 0 0 30px gray;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
