*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 10px;
  height: 200vh;
}

/* box model */
/* p {
  padding: 10px 20px;
  border: 5px solid goldenrod;
} */

/* sizing element */
/* .box::before {
  content: "Hello";
}
.box {
  width: 100px;
  height: 100px;
  background: gold;
  display: inline-block;
} */

/* overflowing */
/* .box {
  border: 3px solid gold;
  width: 150px;
  height: 150px;
  overflow: hidden auto;
} */

/* Measurement Units */
/* .box {
  width: 15rem;
  height: 100vh;
  background-color: gold;
  border-top: 3px solid orange;
} */

/* Positioning  */
.boxes {
  border: 3px solid lightgray;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}
.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  z-index: 999999;
}
.box-three {
  background-color: dodgerblue;
}

/* Floting Element */
/* Flex box Grid  */
/* Hiding Element  */
/* Media Querie */
