*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
  height: 200vh;
}

/* box model */
/* p {
  padding: 10px 20px;
  border: 5px solid goldenrod;
} */

/* sizing element */
/* .box::before {
  content: "Hello";
}
.box {
  width: 100px;
  height: 100px;
  background: gold;
  display: inline-block;
} */

/* overflowing */
/* .box {
  border: 3px solid gold;
  width: 150px;
  height: 150px;
  overflow: hidden auto;
} */

/* Measurement Units */
/* .box {
  width: 15rem;
  height: 100vh;
  background-color: gold;
  border-top: 3px solid orange;
} */

/* Positioning  */
/* .boxes {
  border: 3px solid lightgray;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}
.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  z-index: 999999;
}
.box-three {
  background-color: dodgerblue;
} */

/* Floting Element */
/* .tweet {
  border: 3px solid lightgray;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 10px;
}

.clear {
  clear: both;
} 
*/

/* Flex box Grid  */
/* .container {
  border: 3px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box {
  flex-basis: 15rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex: 1 1 15rem;
  width: 5rem;
  height: 5rem;
  background-color: gold;
  margin: 1rem;
}

.box-one {
} 
*/

/* Grid */
/* .container {
  display: grid;
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  gap: 10px;
  border: 3px solid lightgray;
  height: 100vh;
}

.box {
  background-color: gold;
}

.box-one {
  grid-area: header;
}

.box-four {
  grid-area: footer;
} */

/* Hiding Element  */
/* .first {
  visibility: hidden;
} */

/* Media Querie */
.container {
  display: flex;
  flex-direction: column;
}

.box {
  background: gold;
  padding: 1rem;
}

.box:nth-of-type(2) {
  background: dodgerblue;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .box {
    background: rgb(221, 75, 75);
  }
}

@media print {
  body {
    font-size: 12pt;
  }

  .box {
    padding: 0.5cm;
  }
}
