/* Content Images */
/* .meal {
  width: 100vw;
} */

/* Background Images */
/* body {
  background: url(./images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
} */
/* CSS Sprites */
/* Data URLs */
/* Clipping */
/* Filters */
/* .meal:hover {
  filter: grayscale(70%) blur(3px);
} */
/* Supporting High-density Screens */
/* Resolution Switching */
/* Using Modern Image Formats */
/* Art Direction */
/* Scalable Vector Graphics */
/* Font Icons */
